@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');
:root{
    --bg-black-900:#f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
}
body.dark{
    --bg-black-900:#151515;
    --bg-black-100: #222222;
    --bg-black-50: #393939;
    --text-black-900: #ffffff;
    --text-black-700: #e9e9e9; 
}
body{
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins' sans-serif;
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
::before, ::after{
    box-sizing: border-box;
}
ul{
    list-style: none;

}
.section{
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
    position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease;
}
section.back-section{
    z-index: 1;
}
.section.active{
    z-index: 2;
    opacity: 1;
    animation: slideSection 1s ease;
}
@keyframes slideSection {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}
.section .container{
    padding-top: 60px;
    padding-bottom: 70px;
}
.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}
.section-title h2 {
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}
.section-title h2::before{
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;

}
.section-title h2::after{
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}
.hidden{
    display: none !important;
}

.aside{
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    height: 100%;
    top: 0;
    border-right: 1px solid var(--bg-black-50);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: all 0.3s ease;
}
.aside .logo {
    position: absolute;
    top: 50px;
}
.logo-img{
    height: 185px;
    width: 185px;
}
.aside .nav{
    margin-top: 50px;

}
.aside .mav li{
    margin-bottom: 20px;
    display: block;

}
.aside .nav li a{
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 5px 15px;
}
.aside .nav li a.active{
    color: var(--skin-color);
}
.aside .nav li a i {
    margin-right: 15px;
}
.aside .nav-toggler{
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background:var(--bg-black-100);
    display: none;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.aside .nav-toggler span{
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;

}
.aside .nav-toggler.open span{
    background-color: transparent;
}
.aside .nav-toggler span::before{
    content: '';
    height: 2px;
    width: 18px;
    background:var(--skin-color) ;
    position: absolute;
    top: -6px;
    left: 0;
}
.aside .nav-toggler.open span:before{
    transform: rotate(45deg);
    top: 0;
}
.aside .nav-toggler span::after{
    content: '';
    height: 2px;
    width: 18px;
    background:var(--skin-color) ;
    position: absolute;
    top: 6px;
    left: 0;
}
.aside .nav-toggler.open span:after{
    transform: rotate(-45deg);
    top: 0;
}
.aside .nav{
    margin-right: 15px;
}
.home .home-img img {
    height: 400px;
    margin: auto;
    border-radius: 5px;
}
.container{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}
.padd-15{
    padding-left: 15px;
    padding-right: 15px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
   position: relative; 
}
.home{
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}
.home .home-info{
    flex: 50% 0 0 ;
    max-width: 50%;
    margin: auto;
}
.home .home-img{
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}
.home-img::after{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
   border-bottom:10px solid var(--skin-color);
   border-right: 10px solid var(--skin-color); 
   right: 20px;
   bottom: -40px;
}
.home-img::before{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
   border-top:10px solid var(--skin-color);
   border-left: 10px solid var(--skin-color); 
   left: 20px;
   top: -40px;
}
h3.hello{
    font-size: 28px;
    margin: 15px 0;
}
h3.hello span{
    font-family: 'Clicker Script' , cursive;
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);
}
h3.my-profession{
    font-size: 30px;
    margin: 15px 0;

}
.typing{
    color: var(--skin-color);
}
.home-info p{
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-black-900);
}
.button {
    color: var(--text-black-900);
    text-decoration: none;
    border-radius: 50%;
    padding: 5px 6px;
}

.hide-skilz {
    z-index: 2;
    display: none;
    transition: all 0.3s ease;
}

.hide-skilz-transition {
    animation: hide-skilz 1s ease;
}
.show-skilz-1 {
    z-index: 2;
    opacity: 1;
    animation: show-skilz-1 1.1s ease;
}

.show-skilz-2 {
    z-index: 3;
    opacity: 1;
    animation: show-skilz-2 1.2s ease;
}

.show-skilz-3 {
    z-index: 4;
    opacity: 1;
    animation: show-skilz-3 1.3s ease;
}

.show-skilz-4 {
    z-index: 5;
    opacity: 1;
    animation: show-skilz-4 1.4s ease;
}

.show-skilz-5 {
    z-index: 6;
    opacity: 1;
    animation: show-skilz-5 1.5s ease;
}

.show-skilz-text {
    opacity: 0;
    animation: fadeIn 2s forwards;
    animation-delay: 1.1s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes show-skilz-1 {
    0%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0%);
    }
}
@keyframes show-skilz-2 {
    0%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(0%);
    }
}
@keyframes show-skilz-3 {
    0%{
        transform: translateY(-150px);
    }
    100%{
        transform: translateY(0%);
    }
}
@keyframes show-skilz-4 {
    0%{
        transform: translateY(-200px);
    }
    100%{
        transform: translateY(0%);
    }
}
@keyframes show-skilz-5 {
    0%{
        transform: translateY(-250px);
    }
    100%{
        transform: translateY(0%);
    }
}
@keyframes hide-skilz-1 {
    0%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(0%);
    }
}
@keyframes hide-skilz-2 {
    0%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(0%);
    }
}
@keyframes hide-skilz-3 {
    0%{
        transform: translateY(150px);
    }
    100%{
        transform: translateY(0%);
    }
}
@keyframes hide-skilz-4 {
    0%{
        transform: translateY(200px);
    }
    100%{
        transform: translateY(0%);
    }
}
@keyframes hide-skilz-5 {
    0%{
        transform: translateY(250px);
    }
    100%{
        transform: translateY(0%);
    }
}

.btn{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    background: var(--skin-color);
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    transition: all 0.3s ease;
    border:none;
}
.btn:hover{
    transform: scale(1.05);
}

.about .about-content{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .about-text{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .about-text h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}
.about .about-content .about-text h3 span {
    color: var(--skin-color);
}
.about .about-content .about-text p{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-900);
}
.about .about-content .personal-info{
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 40px;
}
.about .about-content .skills{
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;

}
.about .about-content .personal-info .info-item{
    flex: 0 0 50%;
    max-width: 50% ;


}
.info-item p {
    font-weight: 600;
    padding:  10px 0;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);

}
.info-item p span {
    font-weight: 400;
    color: var(--text-black-700);
    margin-left: 4px;
    display: inline-block;
}
.buttons{
    margin-top: 30px;

}
.buttons .btn{
    margin-right: 15px;
    margin-top: 10px;
}
.skill-item{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 25px;
}
.skill-item h5{
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-black-900);
    text-transform: capitalize;
}
.progress{
    background-color: var(--bg-black-50);
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;

}
.progress .progress-in{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: var(--skin-color);
}
.skill-percent{
    position: absolute;
    right: 0;
    top: -40px;
    color: var(--text-black-900);
    font-weight: 400;
}
.education,
.experience{
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}
h3.title{
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--text-black-900);
}
.timeline-box{
    flex: 0 0 100%;
    max-width: 100%;
}
.timeline{
    background-color: var(--bg-black-100);
    padding: 30px 15px;
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    width: 100%;
    position: relative;

}
.shadow-dark{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.timeline-item{
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
}
.timeline-item:last-child{
    padding-bottom: 0;
}
.timeline-item::before{
content: '';
width: 1px;
position: absolute;
height: 100%;
left: 7px;
top: 0;
background-color: var(--skin-color);
}
.circle-dot{
    position:absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--skin-color);
}
.timeline-date{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color: var(--text-black-700);

}
.timeline-date .fa{
  margin-right: 5px;  
}
.timeline-title{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--text-black-900);
}
.timeline-text{
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color: var(--text-black-700);
}
.service .container{
    padding-bottom: 40px;
}
.service-item{
    margin-bottom: 30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
}
.service-item-inner{
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transition: all 0.3s ease;
}
.service-item-inner:hover{
    box-shadow: 0 0 20px rgba(46, 46, 77, 0.15);
}
.service-item-inner .icon{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    transition:all 0.3s ease ;

}
.service-item-inner .icon .fa{
    font-size: 40px;
    line-height: 60px;
    color: var(--skin-color);
    transition: all 0.3s ease;
}
.service-item-inner:hover .icon{
    background: var(--skin-color);
}
.service-item-inner:hover .icon .fa{
    font-size: 25px;
    color:#ffffff ;
}
.service-item-inner h4{
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--text-black-900);
    font-weight: 700;
    text-transform: capitalize;
}
.service-item-inner p{
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
}
.portfolio-heading{
flex: 0 0 100%;
max-width: 100%;
margin-bottom: 40px;
}
.portfolio-heading h2{
    font-weight: 500;
    color: var(--text-black-900);
}
.portfolio .container{
    padding-bottom: 40px;
}
.portfolio-item{
    flex: 0 0 33.33;
    width: 33.33%;
    margin-bottom: 30px;
}
.portfolio-item-inner{
    border: 6px solid var(--bg-black-100);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.portfolio-img img{
    width: 100%;
    display: block;


}
.contact-title{
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
.contact-sub-title{
    color: var(--text-black-900);
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
}
.contact-info-item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    text-align: center;
    margin-bottom: 60px;
}
.contact-info-item .icon{
    display: inline-block;
}
.contact-info-item .icon .fa{
    font-size: 25px;
    color: var(--skin-color);
}
.contact-info-item h4{
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    margin: 15px 0 5px;
}
.contact-info-item p{
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: var(--text-black-700);
}

@media (max-width:1199px){
    .aside{
        left: -270px;
    }
    .aside .nav-toggler{
        display: flex;
        left: 30px;
    }
    .about .about-content .personal-info .info-item p span{
        display: block;
        margin-left: 0;
    }
    .section{
        left: 0;
    }
    .section.open{
        left: 270px;
    }
    .aside.open{
        left: 0;
    }
    .nav-toggler.open{
        left: 300px;
    }
}
@media (max-width:991px){
    .home .home-img{
        display: none;
    }
 
    .home .home-info{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .portfolio .portfolio-item,
    .service .service-item,
    .contact .contact-info-item{
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (max-width:767px){
    
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .service .service-item,
    .about .about-content .experience,
    .about .about-content .education,
    .about .about-content .skills,
    .about .about-content .personal-info{
        flex: 0 0 100%;
        max-width: 100%;
    }
}